body {
    font-family: Helvetica;
    font-size: 22px;
    text-align: center;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    margin: 0;
}

a {
    color: seashell;
}

h2,
h3,
h4 {
    margin: 0;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Header */

header {
    width: 100%;
    z-index: 1;
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
    align-items: center;
}

header img {
    height: 50px;
    padding-left: 10px;
}

nav {
    text-align: right;
    flex-grow: 1;
}

nav a {
    padding: 20px 10px;
}

/* Main */

main {
    opacity: 0.9;
    width: 100%;
    margin: auto;
}

/* Mission */

#mission {
    height: 700px;
    max-width: auto;
    background-image: url("Images/mission-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mission .content {
    margin: auto;
    background-color: black;
    width: 100%;
}

/* Featured Tea */

#featured-tea {
    height: 700px;
    max-width: 1000px;
    margin: auto;
    padding-top: 70px;
}

.item {
    padding: 5px;
}

.item img {
    height: 200px;
    margin: 10px;
    display: block;
}

.item span {
    display: block;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

/*Locations */

#locations {
    height: 500px;
    width: 1200px;
    background-image: url("Images/locations-background.jpg");
    padding-top: 70px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#locations .h2 {
    display: flex;
    justify-content: center;
}

.location {
    opacity: 1.0;
    padding: 10px;
    margin: 5px 20px;
    width: 300px;
    background-color: black;
}